---
import LocatieLayout from '../../layouts/LocatieLayout.astro';
---
<LocatieLayout
  stad="'s-Gravenzande"
  regio="Zuid-Holland"
  description="Professionele lekdetectie in 's-Gravenzande. Schadevrij lekken opsporen zonder hak- of breekwerk. Binnen 24u ter plaatse. Erkend rapport voor verzekering."
  buurten={['Centrum', 'Nieuw Naaldwijk', 'Monster omgeving']}
  landmarks={["'s-Gravenzande historisch centrum", 'Monster kerk', 'Westland kuststrook', 'Maasdijk omgeving']}
  extraInfo="'s-Gravenzande is een kustdorp in de gemeente Westland, gelegen tussen de Noordzeekust en het uitgestrekte kassengebied van Westland. Het dorp heeft een historische kern met een rijke zeevaartgeschiedenis, omgeven door nieuwere woonuitbreidingen. De combinatie van maritieme omgeving en een lage polderbodem maakt lekdetectie hier een specifiek vakgebied."
>
  <div class="space-y-4">
    <p class="text-neutral-700 leading-relaxed">'s-Gravenzande heeft een karakteristieke historische kern met de middeleeuwse Andreaskerk en smalle straatjes die herinneren aan het vroegere vissersdorp. De oudere panden in het centrum staan op een lichte zandbodem die relatief goed drainerend is, maar de nabijheid van de kust zorgt voor een permanent zout en vochtig microklimaat dat gevels extra snel laat verweren. Voegwerk dat zout absorbeert en uitstoot, metaalcorrosie aan dakgoten en gevelelementen en poreuze gevelbakstenen zijn de meest voorkomende oorzaken van lekkage in dit type bebouwing.</p>
    <p class="text-neutral-700 leading-relaxed">De nieuwere woonwijken van 's-Gravenzande, waaronder gebieden richting Monster en Nieuw Naaldwijk, bestaan grotendeels uit woningen die in de jaren tachtig tot tweeduizend zijn gebouwd. In deze panden zien wij frequent problemen bij de dakdoorvoeren van cv-leidingen en ventilatiekanalen, plekken die bij aanleg soms te weinig aandacht krijgen voor de langetermijn waterdichting. Een lossend manchet bij een dakdoorvoer is een klassieker die bij regen voor ernstige inwatering in de dakconstructie zorgt. Onze daklekkage-inspectie lokaliseert dit soort problemen snel en nauwkeurig.</p>
    <h3 class="text-xl font-bold text-neutral-900 mt-6">Waarom Lekkage Expert in 's-Gravenzande?</h3>
    <p class="text-neutral-700 leading-relaxed">Wij zijn dagelijks actief in de gemeente Westland en kennen de lokale bouwpraktijk en de specifieke uitdagingen van dit kustgebied. Of u in het historische centrum woont of in een modern woonhuis aan de rand van het dorp: wij leveren een snelle, schadevrije lekdetectie met een erkend rapport. Neem contact op en wij zijn doorgaans binnen 24 uur bij u.</p>
  </div>
</LocatieLayout>
