---
import LocatieLayout from '../../layouts/LocatieLayout.astro';
---
<LocatieLayout
  stad="Wateringen"
  regio="Zuid-Holland"
  description="Professionele lekdetectie in Wateringen. Schadevrij lekken opsporen zonder hak- of breekwerk. Binnen 24u ter plaatse. Erkend rapport voor verzekering."
  buurten={['Wateringen dorp', 'Kwintsheul', 'De Lier']}
  landmarks={['Wateringen dorpskern', 'Kwintsheul wijngebied', 'De Lier centrum', 'Westland kassengebied']}
  extraInfo="Wateringen is een rustig dorp in de gemeente Westland, omgeven door glastuinbouw en poldernatuur. De gemeente heeft een sterke agrarische identiteit maar trekt ook gezinnen die in een groene, dorpse omgeving willen wonen. De bodem in dit lage poldergebied is kleiig en vochthoudend, met directe gevolgen voor de vochthuishouding in oudere en nieuwere woningen."
>
  <div class="space-y-4">
    <p class="text-neutral-700 leading-relaxed">Wateringen dorp heeft een compact dorpscentrum met een historische kerk en enkele oudere panden die dateren uit de negentiende en vroeg-twintigste eeuw. Rondom het dorp zijn in de afgelopen decennia uitbreidingswijken gerealiseerd voor gezinnen die de nabijheid van Den Haag combineren met een dorpse woonomgeving. In zowel de oudere als de nieuwere bebouwing zien wij vochtproblemen die te herleiden zijn tot de kleiige polderbodem: de hoge grondwaterstand in de winter kan snel tot problemen in de kruipruimte leiden wanneer de drainage onvoldoende is.</p>
    <p class="text-neutral-700 leading-relaxed">Kwintsheul, onderdeel van de gemeente Westland, is uniek in Nederland als wijnproductiegebied. De druiventeelt en de kas-omgeving zorgen voor een hoge luchtvochtigheid in de buitenomgeving, wat de veroudering van buitengalerijen, bergingen en gevels van woningen versnelt. In De Lier, het derde dorp van dit werkgebied, zijn veel woningen gebouwd in de periode 1960-1980 en nadert het leidingwerk het einde van zijn technische levensduur. Lekkage Expert brengt de staat van de installatie in kaart en adviseert proactief over vervangingsprioriteiten.</p>
    <h3 class="text-xl font-bold text-neutral-900 mt-6">Waarom Lekkage Expert in Wateringen?</h3>
    <p class="text-neutral-700 leading-relaxed">Als specialist in de Westlandse regio kennen wij de lokale bodemgesteldheid, de meestgebruikte bouwmethoden en de specifieke vochtuitdagingen van dit poldergebied. Wij zijn snel beschikbaar en leveren een heldere, erkende rapportage. Zo heeft u snel duidelijkheid over de oorzaak van uw vochtprobleem en weet u wat er moet gebeuren om het definitief te verhelpen.</p>
  </div>
</LocatieLayout>
